<div id="shopify-buy-button-{{ .Get 0 }}"></div>

<script src="https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js"></script>

<script>
(function () {
  var client = ShopifyBuy.buildClient({
    domain: 'zahrahalal.myshopify.com',
    storefrontAccessToken: '718f35c440d3a07bec10a7ce2ffab5b2',
  });

  ShopifyBuy.UI.onReady(client).then(function (ui) {
    ui.createComponent('product', {
      id: '{{ .Get 1 }}',
      node: document.getElementById('shopify-buy-button-{{ .Get 0 }}'),
      options: {
        product: {
          buttonDestination: 'checkout',
          text: { button: 'Buy Now' }
        }
      }
    });
  });
})();
</script>
